
h1, h2, h3, h4, h5, h6 {
  color: #69BE28;
}
body {
  color: #A5ACAF;
  background-color: #002244;
}
footer {
  background-color: black;
  color: white;
}
h1 {
  font-size: 50px
}
head {
  display: block;
}

ul {
  list-style: none;
}

ul#menu {
    padding:0;
    font-family: sans-serif;
}

    ul#menu li {
        display:inline-block;
    }

    ul#menu li a {
        background-color:#002244 ;
        color:white;
        padding:10px 20px;
        text-decoration:none;
        border-radius:2em;
    }

    ul#menu li a:hover {
        background-color:#69BE28 ;
        color:black;
    }
